.frame {
  background-image: url(../images/university.png);
  background-size: cover;
  height: 600px;
  width: 100%;
}
.section1 {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame .section1-text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  width: 750px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  margin: 0 auto;
  width: 90%;
  border-bottom: 0.5px solid black;
}

.login-button,
.register-button {
  color: #000000;
  background-color: transparent;
  border: none;
  padding: 30px 20px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
  color: #65516d;
}

.vertical-line {
  width: 1px;
  background-color: #000000;
  height: 50px;
}

/*----------------------------------------------------------------section-3 from here--------------------------------------------------------------*/

.section3 {
  background-color: #ffffff;
  height: auto;
  position: relative;
  padding: 100px;
}

.section3 .author-info {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section3 .author-text {
  color: #000000;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
}

.section3 .author-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.section3 .author-card {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.section3 .author-image {
  padding: 20px;
}

.section3 .author-ellipse {
border-radius: 50%;
  height: 121px;
  width: 121px;
  object-fit: cover;
  margin: 0 auto 10px;
}

.section3 .author-content {
  padding: 15px;
  font-family:  Helvetica;
}

.section3 .author-name {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.section3 .author-details {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.section3 .author-linkedin {
  padding: 10px;
}

.author-linkedin img {
  height: 30px;
  width: 30px;
}

.author-linkedin img:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
}