
.ratings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.col-md-6.mx-auto h2{
    text-align: center;
    margin: 30px 0;
    font-family: helvetica;
    color: #F17C67;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none;
}
.col-md-6.mx-auto label{
    margin: 5px auto;
}

.ratings-container .form-group {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
}

.rating-stars {
  font-size: 24px;
}

#review {
  height: 150px;
}
#overallRating {
  display: block;
  text-align: center;
}
.col-md-6.mx-auto input,.form-group.overall-rating,
.form-control.text-review {
  padding: 1% 1%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.btn.review {
    display: block;
    margin: 10px auto;
  padding: 1% 3%;
  border: 1px solid #0056b3;
  color: #0056b3;
}

.btn.review:hover {
  background-color: #0056b3;
  color: white;
}
