.profile.mt-4 h2{
    font-family: serif;
    background-color: #fad2ca;
    color: #F17C67;
    font-weight: 500;
    text-shadow: none;
    padding: 0% 3%;
}

.container.profile{
    padding-top: 1%;
    width: 40%;
    height: 800px;
}

.profile.mb-3{
    text-align: left;
}

.profile.btn{
    border: 1px solid #0056b3;
    color: #0056b3;
    background-color: #fff;
}

.profile.btn:hover{
    border: 1px solid #0056b3;
    color: #fff;
    background-color: #0056b3;
}
