<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.review.mapper.FavouriteMapper">

    <resultMap id="FavouriteResultMap" type="com.neu.review.pojo.Favourite">
        <id property="id" column="id"/>
        <result property="userID" column="user_id"/>
        <result property="uniID" column="university_id"/>
    </resultMap>

    <!-- SELECT by ID -->
    <select id="getByUserIDUniID" resultMap="FavouriteResultMap">
        SELECT *
        FROM favourite
        WHERE user_id = #{userID}
          AND university_id = #{uniID}
    </select>

    <!-- INSERT a new User -->
    <insert id="insert" parameterType="Favourite" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO favourite (user_id, university_id)
        VALUES (#{userID}, #{uniID})
    </insert>

    <!-- DELETE a User by ID -->
    <delete id="delete" parameterType="int">
        DELETE
        FROM favourite
        WHERE id = #{id}
    </delete>

    <select id="getByUserID" resultType="Favourite" parameterType="java.util.List" resultMap="FavouriteResultMap">
        SELECT *
        FROM favourite
        WHERE user_id = #{userID}
    </select>

</mapper>
