<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.review.mapper.UniversityMapper">

    <resultMap id="UniversityResultMap" type="com.neu.review.pojo.University">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ranking" column="ranking"/>
        <result property="studentSize" column="student_size"/>
        <result property="description" column="description"/>
        <result property="photo" column="photo"/>
        <result property="popularity" column="popularity"/>
    </resultMap>

    <select id="getByID" resultMap="UniversityResultMap">
        SELECT id, name, ranking, student_size, description, photo, popularity
        FROM university
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.neu.review.pojo.University">
        INSERT INTO university (name, ranking, student_size, description, photo)
        VALUES (#{name}, #{ranking}, #{studentSize}, #{description}, #{photo})
    </insert>

    <select id="get" resultMap="UniversityResultMap">
        SELECT * FROM university
        <where>
            <!-- Condition: Only include if 'name' parameter is provided -->
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        <if test="cnt &gt; 0">
            LIMIT #{cnt}
        </if>
    </select>

    <update id="update" parameterType="University">
        UPDATE university
        <set>
            <if test="popularity != null">popularity = #{popularity},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>