<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.review.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.neu.review.pojo.User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="address" column="addr"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <!-- SELECT by ID -->
    <select id="getById" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <!-- INSERT a new User -->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, email, password, addr, tel)
        VALUES (#{username}, #{email}, #{password}, #{address}, #{tel})
    </insert>

    <!-- UPDATE a User -->
    <update id="update" parameterType="User">
        UPDATE user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="address != null">addr = #{address},</if>
            <if test="tel != null">tel = #{tel},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- DELETE a User by ID -->
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>


    <select id="getByUserName" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="getByIDs" parameterType="java.util.List" resultMap="UserResultMap">
        SELECT * FROM user
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
